*{
	font-family: "Slabo 27px";
	text-decoration:none;
	box-sizing:border-box;
}
section{
	background-color:#ffffff;
	margin-right:15%;
	margin-left:15%;
	padding:25px;
	margin-top:5%;
	margin-bottom:20px;
}
header{
	background-color:#ffffff;
}
body{
	margin:0px;
}
header{
	position:fixed;
	top:0;
	width:100%;
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:right;
	display:inline;
	float:right;
}
li{
	display:inline-block;
	margin:15px;
	color:blue;
	font-weight:bold;
	font-size:18px;
}
img{
	float:left;
}
h1{
	text-align:center;
	font-size:32px;
}
hr{
	border:0.5px solid black;
	margin-bottom:45px;
	margin-top:20px;
}
footer{
	color:#FFFFFF;
	background-color:#000000;
	padding:5px;
	text-align:center;
	margin-bottom:2%;
}

.grid-container{
	display: grid;
	grid-template-columns: 15% 50px auto 50px 40px;
	margin:5px;
}
.item1{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}
.item2{
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 3;
}

